server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: account-service
          uri: lb://account-service
          predicates:
            - Path=/api/accounts, /api/accounts/**

        - id: transaction-service
          uri: lb://transaction-service
          predicates:
            - Path=/api/transactions, /api/transactions/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka